<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/1E570167-B8D8-774C-8F50-FEEF4491E7B2/main.js" charset="UTF-8"></script></head>

<body>
		<form action="/login" method="get">
			<button type="submit">Logout</button>	
		</form>	
<h1> Are you sure you want to delete {{item.name}}? </h1>

<form action="#" method = 'post'>

<input type='submit', value = 'Delete'>




</form>

<a href = '{{ url_for('showFlorists') }}'> Cancel </a>
</body>

</html>
